@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.popular {
  @include mixins.flex-col;
  & .heading {
    @include mixins.title;
  }
  & .boxContainer {
    @include mixins.flex-wrap;
    & .box {
      padding: 2rem;
      background: variables.$white;
      box-shadow: 0 0.5rem 1rem variables.$black-opacity;
      border: 0.1rem solid variables.$second-black-opacity;
      border-radius: 0.5rem;
      text-align: center;
      flex: 1 1 30rem;
      position: relative;
      & h3 {
        color: variables.$dark-chacoal;
        font-size: 2.5rem;
        padding-top: 1rem;
      }
      & .price {
        position: absolute;
        top: 3rem;
        left: 3rem;
        background: variables.$medium-light-red;
        color: variables.$white;
        font-size: 2rem;
        padding: 0.5rem 0.5rem;
        border-radius: 1rem;
      }
      & img {
        height: 25rem;
        object-fit: cover;
        width: 100%;
        border-radius: 0.5rem;
      }
      & .stars {
        color: variables.$gold;
        font-size: 1.5rem;
        padding: 1rem 0.1rem;
      }
    }
  }
}
