@use "../../../styles/variables.scss";

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid variables.$medium-light-red;
  color: variables.$medium-light-red;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: variables.$medium-light-red;
    transition: 0.3s linear;
    z-index: -1;
  }
  &:hover {
    color: variables.$white;
    &::before {
      width: 100%;
      left: 0;
    }
  }
}
