@use "../../../styles/variables.scss";

.scroll-top {
  display: flex;
  position: fixed;
  top: -120%;
  right: 2rem;
  padding: 0.8rem 1.5rem;
  font-size: 4rem;
  background: variables.$medium-light-red;
  color: variables.$white;
  border-radius: 0.5rem;
  transition: 1s linear;
  z-index: 1000;
  &.active {
    top: calc(100% - 12rem);
  }
}
