@use "../../../styles/variables.scss";

.review {
  display: flex;
  flex-direction: column;
  & .heading {
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: variables.$medium-dark-gray;
    & span {
      color: variables.$medium-light-red;
      margin-left: 1rem;
    }
  }
  & .boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    & .box {
      text-align: center;
      padding: 0.5rem;
      border: 1rem solid variables.$white;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
      border-radius: 0.5rem;
      flex: 1 1 30rem;
      background: variables.$dark-chacoal;
      margin-top: 6rem;
      & img {
        height: 12rem;
        width: 12rem;
        border-radius: 50%;
        border: 1rem solid variables.$white;
        margin-top: -8rem;
        object-fit: cover;
      }
      & h3 {
        font-size: 2.5rem;
        color: variables.$white;
        padding: 0.5rem 0;
      }
      & .stars {
        color: variables.$gold;
        font-size: 2rem;
        padding: 0.5rem 0.2rem;
      }
      & p {
        font-size: 1.5rem;
        color: variables.$very-light-gray;
        padding: 1rem 0;
      }
    }
  }
}
