@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.order {
  @include mixins.flex-col;
  & .heading {
    @include mixins.title;
  }
  & .row {
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background: variables.$white;
    @include mixins.flex-wrap;
    border-radius: 0.5rem;
    & .image {
      flex: 1 1 30rem;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
    & form {
      flex: 1 1 50rem;
      padding: 1rem;
    }
    & .inputBox {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    & .inputBox input,
    textarea {
      padding: 1rem;
      margin: 1rem 0;
      font-size: 1.7rem;
      color: variables.$dark-chacoal;
      text-transform: none;
      border: 0.1rem solid rgba(0, 0, 0, 0.3);
      border-radius: 0.5rem;
      width: 45%;
      @media (max-width: 480px) {
        width: 100%;
      }
      &.textarea {
        width: 100%;
        resize: none;
        height: 15rem;
      }
    }
  }
}
