@use "variables";

* {
  font-family: variables.$font-family;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  &::selection {
    background: variables.$medium-light-red;
    color: variables.$white;
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background-color: variables.$earthborn-bugle;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: variables.$medium-dark-gray;
  & span {
    color: variables.$medium-light-red;
    margin-left: 1rem;
  }
}
