@use "variables";

* {
  font-family: variables.$font-family;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  &::selection {
    background: variables.$medium-light-red;
    color: variables.$white;
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  @media screen and (max-width: 991px) {
    font-size: 55%;
  }
  @media screen and (max-width: 480px) {
    font-size: 50%;
  }
}

body {
  background-color: variables.$earthborn-bugle;
}

section {
  padding: 2rem 9%;
  @media screen and (max-width: 991px) {
    padding: 2rem;
  }
}
