/*Typography*/
$font-family: "Nunito", sans-serif;

/*colors*/
$medium-light-red: #ff3838;
$white: #ffffff;
$black: #000000;
$very-light-gray: #eeeeee;
$earthborn-bugle: #f7f7f7;
$medium-dark-gray: #666666;
$dark-chacoal: #333333;
